
/* src/App.css */
.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
}

.floor-plan,
.three-d-model {
  width: 45%;
  border: 1px solid #ccc;
  padding: 20px;
}

